body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.clear {
  clear: both;
}
h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}
.subHeader {
  /* background: #ececec; */
  
}
.subHeader > ul {
  margin: 0px;
  padding: 0px;
  display: table;
  margin: 0 auto;
}
.subHeader > ul > li {
  float: left;
  list-style: none;
}
.subHeaderLink {
  font-size: 14px;
  color: black;
  display: table;
  /* padding: 8px 40px; */
  font-family: 'Roboto Condensed', sans-serif;
}
.subHeaderLink:hover {
  text-decoration: none;
  color: black;
}
.subHeader > ul > li:hover {
  background: #d1d1d1;
  color: 'white';
}

.logo {
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 60px;
  margin-bottom: 0px;
}
.logo-mobile {
  display: table;
  font-family: 'Julius Sans One', sans-serif;
  color: #ffffff;
  padding: 12px 10px 7px 10px;
  font-size: 30px;
  margin-bottom: 0px;
}
.headerRight {
  height: 100%;
  background: red;
}
.headerRight > ul {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.headerRight > ul > li {
  /* width: 50%; */
  height: 100%;
  display: table;
  background: #2e304c;
  float: left;
  border-right: 2px solid #2e304c;
  color: #999999;
}

.headerRight > ul > li:first-child {
  /* border-left: 2px solid #444444; */
}
.headerRight > ul > li:hover {
  /* width: 50%; */
  height: 100%;
  display: table;
  background: #434568;
  float: left;
  color: black;
}
.liStyleHeaderRight {
  padding: 30px 20px;
}

.bg-menu-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;

  background: #17182f;
}
.menu-mobile-wrap > ul {
  margin: 0;
  padding: 0;
  padding: 15px;
}
.menu-mobile-wrap > ul > li {
  list-style: none;
  color: white;
  /* background: yellow; */
  padding: 8px;
  /* border-bottom: thin solid rgb(22, 22, 22); */
}